@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

body {
	font-family: "Inter";
	margin: 0px 0px 0px 0px;
}

img {
	border-radius: 3px;
}

button {
	font-family: inherit;
}

.header {
	background-color: #f9f9f9;
	position: sticky;
	top: 0;
	padding: 0px 16px;
	color: #4f4f4f;
	font-weight: bold;
	border-bottom: 2px solid #F0F0F0;
}

.topnav {
	overflow: hidden;
	color: #414141;
}

.topnav-appname {
	padding: 14px 16px;
	top: 100%;
	text-align: center;
	float: left;
	font-size: 20px;
	padding-left: 5px;
	color: inherit;
	text-decoration: none;
}

.topnav-icon {
	text-align: center;
	padding: 15px 5px 10px 0px;
	float: left;
}

.topnav-buttons {
	display: flex;
	align-items: center;
	float: right;
	text-align: center;
	padding: 14px 16px;
	margin: 5px 0px;
	text-decoration: none;
	font-size: 17px;
	color: inherit;
	border-radius: 5px;
	cursor: pointer;
	background: none;
	border: none;
}

.topnav-buttons:hover {
	background-color: #ddd;
}

.topnav-user {
	display: flex;
	align-items: center;
	float: right;
	text-align: center;
	padding: 14px 16px;
	margin: 5px 0;
	text-decoration: none;
	font-size: 17px;
	color: inherit;
	border-radius: 5px;
	cursor: pointer;
	background: none;
	border: none;
	position: relative;
}

.topnav-user::after {
	content: attr(data-username);
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
}

.topnav-user:hover span {
	opacity: 0;
}

.topnav-user:hover::after {
	content: 'Logout';
	opacity: 1;
}



.machine-cards {
	margin: auto;
	width: 70%;
}

.card {
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
	transition: 0.3s;
	padding: 10px 30px 10px 30px;
	margin: 20px 20px 20px 20px;
	border-radius: 5px;
}

.card-title {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.join-waitlist-button {
	float: right;
	text-align: center;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	font-size: 17px;
	border: 3px solid #F0F0F0;
	color: white;
	background-color: #2f89db;
	cursor: pointer;
	border-radius: 10px;
}

.inactive-favorite {
	padding: 10px 10px;
	float: right;
	color: #aaaaaa;
	font-variation-settings:
		'FILL' 0;
}

.inactive-favorite:hover {
	color: #aaaaaa;
	font-variation-settings:
		'FILL' 1;
}

.active-favorite {
	padding: 10px 10px;
	float: right;
	color: #2f89db;
	font-variation-settings:
		'FILL' 1;
}

.favorites-button {
	padding: 0 0 0 0;
	border: none;
	background-color: inherit;
	float: right;
}

.card:hover {
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
	font-family: inherit;
	color: #686868;
	border: none;
	text-align: left;
	float: center;
	outline: none;
	border-radius: 5px;
	padding: 0px 0px 10px 0px;
	margin: 10px 10px 10px 10px;
	font-size: 15px;
}

.collapsible {
	font-family: inherit;
	color: #686868;
	border: none;
	text-align: left;
	float: center;
	outline: none;
	border-radius: 5px;
	padding: 0px 0px 10px 0px;
	margin: 10px 10px 10px 10px;
	font-size: 15px;
}

.collapsible-description {
	display: flex;
	align-items: center;
	float: left;
	text-align: left;
	width: 50%;
}

.collapsible-est-time {
	float: left;
	text-align: right;
	width: 48%;
	padding: 0px 0px 0px 0px;
}

.collapsible-button {
	border: 2px solid #F0F0F0;
	text-align: left;
	width: 100%;
	background-color: #FCFCFC;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	padding: 10px 0px 10px 10px;
	border-radius: inherit;
	display: table;
}

table {
	background-color: #FCFCFC;
	color: inherit;
	border-top: 0px;
	border-bottom: 2px solid #F5F5F5;
	border-left: 2px solid #F5F5F5;
	border-right: 2px solid #F5F5F5;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 100%;
	padding: 0px 0px 0px 10px;
	line-height: 30px;
	font-family: inherit;
}

.popup {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.1);
}

.popup-inner {
	max-width: 300px;
	background-color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
	width: 50%;
}

.popup-inner h2 {
	font-size: 30px;
	color: black;
	margin-top: 0;
}

.popup-inner label {
	display: block;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
	float: center;
	margin: 10px 10px 10px 10px;
}

.popup-inner input {
	width: 100%;
	float: left;
	padding: 5px 0px 5px 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 0px 20px 10px 0px;
}

.popup-inner select {
	width: 100%;
	float: left;
	padding: 5px 5px 5px 0px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 10px 20px 10px 0px;
}

.popup-inner button[type="submit"],
.popup-inner button[type="button"] {
	background-color: #2f89db;
	font-weight: bold;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
}

.popup-inner button[type="submit"]:hover,
.popup-inner button[type="button"]:hover {
	background-color: #52a6f3;
	color: white;
}

.popup-inner button[type="submit"] {
	margin-top: 20px;
}

.close-button-top-right {
	border: none;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px;
	vertical-align: middle;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: inherit;
	color: #555555;
}

.outcome {
	font-weight: bold;
	font-size: 12px;
	width: 60px;
	padding: 5px 5px;
	margin: 10px 10px;
	vertical-align: middle;
	background-color: inherit;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.outcome.available {
	background-color: #4caf50;
	color: white;
}

.outcome.in-use {
	background-color: #f44336;
	color: white;
}